<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

    <appSettings>
      <!--
        <add key="BaseUrl" value ="http://localhost:29835/api/"/>
        <add key="PersonUrl" value="persons"/>
        <add key="PersonServiceUrl" value="http://localhost:29835/api/persons"/>
      -->
      
        <add key="BaseUrl" value =""/>
        <add key="ComputerUrl" value=""/>
        <add key="ComputerServiceUrl" value=""/>
    </appSettings>
</configuration>